body{
    padding: 0%;
    margin: 0%;
    background-color: #FFF4E3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    width: 100%;
    height: 60px;
    background-color: #E3D4BD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;   
    position: fixed;
    top: 0px;
}

.header a{
    height: 100%;
    display: flex;
    align-items: center;
}

.header .main{
    height: 80%;
}

#arrow img{
    height: 80%;
}

#prof img{
    height: 25px;
    margin-right: 5px;
}

.menu{
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu img{
    height: 10px;
    margin-left: 5px;
    margin-top: 5px;
}

.service{
    height: 60px;
    display: flex;
    align-items: center;
}

.service:hover{
    cursor: pointer;
}

.service:hover .subMenu{
    top: 51px;
    display: block;
    position: absolute;
}

.subMenu{
    display: none;
    background-color: #E3D4BD;
    font-size: 16px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 10px 10px;
    margin-left: -20px;
}

.subMenu > ul > li{
    list-style-type: none;
    padding: 10px;
    margin-left: -40px;
}

.subMenu li a:hover{
    color: darkgoldenrod;
}

.content{
    margin-top: 86px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.desc{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 26px;
    font-weight: 500;
}

.desc img{
    width: 35%;
}

.desc > span{
    width: 30%;
    text-align: left;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desc h2{
    font-size: 22px;
    font-weight: 500;
}

.desc > span span{
    font-weight: normal;
    color: #6D6767;
}

.desc h2{
    margin-bottom: 0px;
}

.desc h2 img{
    width: 7%;
}

.content p{
    font-size: 22px;
}

form{
    width: 60%;
    margin-top: 20px;
    font-size: 20px;
}

.outer{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.outer .input{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.outer .box{
    width: 90%;
    padding: 5px;
    font-size: 14px;
    background-color: #F1F1F1;
    border: solid black;
    border-width: 1px;
}

.outer .boxOption{
    width: 92.5%;
    padding: 5px;
    font-size: 14px;
    background-color: #F1F1F1;
    border: solid black;
    border-width: 1px;
}

.errMsg{
    font-size: 13px;
    color: red;
    float: right;
}

.button{
    width: 15%;
    height: 40px;
    font-size: 14px;
    color: white;
    margin-top: 20px;
    background-color: #F9A668;
    border: none;
    border-radius: 10px;
}

.footer{
    width: 100%;
    background-color: #DFCAA9;
    display: flex;
    flex-direction: column;
}

.footerDesc{
    width: 100%;
    border-bottom: solid;
    border-bottom-width: 1.5px;
    display: flex;
    justify-content: space-around;
}

.icon{
    width: 30%;
    
}

.icon .logo{
    width: 50%;
    margin-top: 16px;
}

.wa{
    width: 100%;
    display: flex;
    align-items: center;
}

.wa img{
    width: 7%;
    margin: 0px 10px 0px 15px;
}

.email{
    width: 100%;
    display: flex;
    align-items: center;
}

.email img{
    width: 7%;
    margin: 0px 10px 0px 15px;
}

.info{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.info p.title{
    font-size: 20px;
}

.info .word{
    text-decoration: none;
    color: black;
    margin: 10px 10px 10px 0px;
    width: fit-content;
}

.info .logo{
    display: flex;
    text-decoration: none;
    color: black;
    width: fit-content;
}

.logo img{
    width: 10%;
}

.sosmed{
    width: 100%;
    margin: 10px 10px 10px 0px;
    display: flex;
    flex-direction: row;
}

.sosmed .logo{
    width: 10%;
    padding-right: 10px;
}

.sosmed img{
    width: 100%;
}

.sosmed a{
    text-decoration: none;
    color: black;
}

.copyright{
    width: 100%;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
}